html {
  box-sizing: border-box;
  background: $color-background;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

button {
  box-sizing: border-box;
}

.site-container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media only screen and (min-width: 48em) {
  .col-sm-10 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

#main {
  background: $color-background;
}
