.gs-footer {
  margin: -2rem 0 2rem;

  &__wrapper {
    max-width: 680px;
  }

  &__text {
    font-size: 12px !important;
    color: $color-text-navy !important;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }

  @media (max-width: 1023px) {
    margin: 2rem 0 0;
  }

  @media (max-width: 700px) {
    margin: 4rem 0 0;
  }

  @media (max-width: 600px) {
    margin: 6rem 0 0;
  }
}
