.gs-header {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;

  &__controls {
    display: flex;
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    &:first-of-type {
      .gs-header__btn-section {
        position: relative;

        &:before,
        &:after {
          height: 100%;
          position: absolute;
          top: 0;
          color: $color-navy;
        }

        &::before {
          content: "";
          width: 1rem;
          border: 2px solid;
          border-right: none;
          left: -1.5rem;
        }

        &::after {
          content: "USE OF WATER";
          font-size: 12px;
          width: 6rem;
          height: 100%;
          left: -8.5rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }

        &:last-of-type {
          &::before {
            height: calc(100% - 1rem);
            top: 1rem;
          }
          &::after {
            content: "CLIMATE SCENARIO";
            height: calc(100% - 1rem);
            top: 1rem;
            text-align: right;
          }
        }
      }
    }
  }

  &__btn-spacer {
    height: 1rem;
    background: linear-gradient(
      90deg,
      transparent,
      transparent 49%,
      black 50%,
      transparent 51%
    );
  }

  &__btn {
    transition: all 200ms ease-in-out;
    transition-property: background, color;
    width: 11rem;
    font-size: 12px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border: 2px solid $color-navy;
    background: none;
    color: $color-navy;
    cursor: pointer;

    &[data-use] {
      font-weight: bold;
    }

    &.active,
    &:hover {
      background: $color-navy;
      color: #fff;
    }

    &:focus {
      outline: 0;
    }
  }

  &__legend {
    margin-top: 2rem;
    max-width: 560px;
    min-height: 270px;

    &-title {
      font-size: 1.5rem;
      line-height: 1.2;
    }

    &-subtitle {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 400;
    }

    &-text {
      font-size: 12px !important;
      color: $color-text-navy !important;
      margin-bottom: 1.5rem;
      min-height: 28px;
      display: none;

      &.active {
        display: block;
      }

      &[data-type="environmental"] {
        margin-top: -24px;
      }
    }

    &-key-item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      p {
        color: $color-text-navy;
      }
    }

    &-key-icon {
      width: 1.5rem;
      margin-right: 1rem;
    }
  }

  @media (max-width: 872px) {
    &__wrapper {
      width: 100%;
    }

    &__btn-section {
      &:before,
      &:after {
        display: none;
      }
    }
  }

  @media (max-width: 600px) {
    &__controls {
      flex-direction: column;
    }

    &__btn-wrapper {
      margin-bottom: 2rem;

      &:not(:last-of-type) {
        margin-right: 0;
      }
    }

    &__btn {
      width: 100%;
    }

    &__legend {
      display: none;
    }
  }
}
