#map {
  transition: all 800ms ease-out;
}

#environmental,
#rural,
#urban {
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.gs-map {
  margin-top: -18rem;
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 69.41%;

  #gs-map {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__data {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }

  &__marker {
    position: absolute;

    &:hover {
      .gs-map__marker-info {
        display: block;
      }
    }

    &-icon {
      width: 2rem;
      cursor: pointer;

      @media (max-width: 600px) {
        width: 1rem;
      }
    }

    &-title {
      width: 120px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-60px, 5px);
      font-size: 12px !important;
      color: $color-text-navy !important;
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      pointer-events: none;

      @media (max-width: 600px) {
        display: none;
      }

      &.left {
        width: 140px;
        left: -100%;
        // no unset in IE
        top: 25px;
        top: unset;
        bottom: 0;
        transform: translateX(-115px);
        text-align: right;
      }

      &.right {
        width: 140px;
        left: 100%;
        // no unset in IE
        top: 25px;
        top: unset;
        bottom: 0;
        transform: translateX(5px);
        text-align: left;
      }

      &.top {
        top: 0;
        transform: translate(-60px, -130%);
      }

      &.top-left {
        top: 0;
        left: -100%;
        transform: translateX(-95px);
        text-align: right;
      }

      &.wide {
        width: 190px;
      }
    }

    &-info {
      display: none;
      position: absolute;
      top: -0.5rem;
      left: 50%;
      transform: translate(-50%, -100%);
      width: 240px;
      z-index: 999;

      @media (max-width: 767px) {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.display-left {
        @media (max-width: 960px) {
          left: -100%;
          transform: translate(-90%);
        }
        @media (max-width: 767px) {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.display-right {
        left: 0;
        transform: translate(2.5rem);

        @media (max-width: 767px) {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.mobile-display-right {
        @media (max-width: 1260px) {
          left: 0;
          transform: translate(2.5rem);
        }

        @media (max-width: 767px) {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &-inner {
        background: white;
        border: 1px solid $color-average-border;
        border-radius: 8px;
        box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
        font-size: 14px;
        padding: 1rem;

        p {
          color: $color-text-navy !important;
          font-size: 12px !important;
          display: none;

          &.active {
            display: block;
          }
        }

        // &:after {
        //   border-left: 0.75em solid transparent;
        //   border-right: 0.75em solid transparent;
        //   border-top: 1em solid #fff;
        //   content: "";
        //   height: 0;
        //   left: 50%;
        //   position: absolute;
        //   top: 100%;
        //   transform: translate(-50%, -1px);
        //   width: 0;
        // }
      }
    }

    &[data-layer="rural"] .gs-map__marker-info-inner {
      border-color: $color-rural-border;
    }

    &[data-layer="environmental"] .gs-map__marker-info-inner {
      border-color: $color-environmental-border;
    }
  }

  @media (max-width: 1024px) {
    margin-top: -12rem;
  }

  @media (max-width: 872px) {
    margin-top: 0;
  }
}

@keyframes bounce-in {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.animate-bounce-in {
  animation-duration: 0.75s;
  animation-name: bounce-in;
}
