#map {
  fill: $color-average;
}

#environmental,
#rural,
#urban {
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.gs-map-container {
  margin-top: -18rem;
}
