$color-background: #99cccc;
$color-navy: #1d1345;
$color-average: #ffffff;
$color-dry: #ffffcc;
$color-worst: #ffcc99;

$color-average-border: #00ae42;
$color-dry-border: #fed925;
$color-worst-border: #b8232f;

$color-rural-border: #5d256a;
$color-environmental-border: #68cef2;

$color-text-navy: #1f1646;
